// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//font family => $f- name Font
$f-vazir: Vazir;
$f-FTG: 'Fredericka the Great', cursive;


//color => $c- name Color
$c-white: #ffffff;
$c-black: #000000;
$c-dark: #151515;
$c-yellow: #fdbc2c;
$icon-color: #D94F2B;
$c-border: #d94f2b;
$c-selection: #ff9191;